/* p {
    color: blue;
    font-size: 2em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    text-align: center;
    background-color: red;
}

.paragraf2{
    color: hsl(120, 100%, 50%);
    background-color: blue;
}

#paragraf3{
    color : rgb(255, 0, 0);
    background-color: hsl(120, 100%, 50%);
} */

/* .div1{
    width: 100px;
    height: 100px;
    padding-top: 10px;
    border-top: 10px solid #000;
    background-color: cyan;
    margin-bottom: 50px;
}

.div2{
    width: 100px;
    height: 100px;
    padding-top: 10px;
    border-top: 10px solid #000;
    background-color: cyan;
} */