nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: red;
    padding-left: 5%;
}

ol{
    display: flex;
    justify-content: right;
    align-items: center;
    width: 50%;
    gap: 20%;
    margin-right: 5%;
    list-style-type: none;
    /* background-color: blue; */
}
